@page "/"

<PageTitle>Big Dawg Gym Home</PageTitle>
<section class="sections">
    <div class="pictureDiv">
        <img alt="picture of gym" src="Pictures/gym.jpg">
    </div>
    <div class="cardDiv">
        <h1>Take your training to the next level!!</h1>
        <p>With the best equipment available, the best environment and absolutely no pop music blasting through the speakers</p>
    </div>
</section>

<section class="sections">
    <div class="cardDiv">
        <h1>Train with only the rawest of PT's!</h1>
        <p>We have the best trainers who will get you jacked. No questions asked!!</p>
        <ul>
            <li>Ronnie Coleman</li>
            <li>Eddie Hall</li>
            <li>Brian Shaw</li>
            <li>Liam Neeson</li>
        </ul>
    </div>
    <div class="pictureDiv">
        <img alt="picture of ronnie the pt" src="Pictures/images.jpeg"/>
    </div>
</section>

<section class="sections">
    <div class="pictureDiv">
        <img alt="picture of BIG DAWG" src="Pictures/dawg.jpeg"/>
    </div>
    <div class="cardDiv">
        <h1>Start your gym membership in BIG DAWG'S GYM today!</h1>
        <p>Are you serious about training?</p>
        <p>Do you want the best GAINS?</p>
        <p>Then join BIG DAWG'S GYM <a href="/pricing"><b>NOW!</b></a></p>
    </div>
</section>


@code{

    

}
