@page "/pictures"
<PageTitle>Big Dawg Gym Pictures</PageTitle>

<div class="pictureContainer">
    <div class="picture">
        <img alt="gym pic" src="Pictures/pic1.jpg"/>
    </div>
    <div class="picture">
        <img alt="gym pic" src="Pictures/pic2.jpg"/>
    </div>
    <div class="picture">
        <img alt="gym pic" src="Pictures/pic3.webp"/>
    </div>
    <div class="picture">
        <img alt="gym pic" src="Pictures/pic4.jpg"/>
    </div>
    <div class="picture">
        <img alt="gym pic" src="Pictures/pic5.avif"/>
    </div>
    <div class="picture">
        <img alt="gym pic" src="Pictures/pic6.jpg"/>
    </div>
</div>

@code {
    
}